{% load static %}
<html>
<head>
    <title>
        Initial Page
    </title>
        <link rel="stylesheet" href="{% static 'css/index/index.css' %}">
</head>

<body>
<div class="initial-page">
<h1>
    Welcome to SmartApply
</h1>
    <h2>
        An App to get Everything Application Related Done in One Place
    </h2>
    <p> Is it your first time here? Sign up! </p>
    <button><a href="/sign-up">sign-up</a> </button>
    <p> If you are not new, sign in! </p>
    <button> <a href="/sign-in">sign-in</a> </button>

</div>
</body>

</html>