body{
    margin: 0;
    padding: 0;
    font-family: Fantasy;
    background-size: cover;
    background: url(notepad-g87a5d1b1c_1920.jpg) center;

}
.sign-in{
    width: 300px;
    box-shadow: 0 0 40px 0 rgb(85, 103, 22);
    background: #5a7950;
    padding: 30px;
    margin: 15% auto 0;

    text-align: center;
}

.logo{
    width: 100px;
    height: 100px;
    border-radois: 50%;
    position: absolute;
    top: 30px;
    left: calc(50% - 50px);
    background: url(logo.jpg) center;
    background-size: 100px 100px;
    background-repeat: no-repeat;

}

.sign-in h1{
    color: #032603;
    margin-bottom: 15px;

}

p{
     margin-bottom: 15px;
     margin-top:25px;
}




