{% load static %}
<button onclick>
    <a href="/log-out">
    log-out
    </a>
</button>
<button>
    <a href="/user-profile">
        view profile
    </a>
</button>
<button>
    <a href="/cal">
        view calendar
    </a>
</button>

<link rel="stylesheet" href="{% static 'css_calendar/calendar.css' %}">
<div class="calendar">
    <div class="calendar_header">
        <div class="calendar_nav">
            <button class="nav-btn go-prev">&lt;</button>
            <span class="year"></span>/
            <span class="month"></span>
            <!-- <button class="nav-btn go-today">오늘로 가기</button> -->
            <button class="nav-btn go-next">&gt;</button>
        </div>
    </div>
    <div class="calendar_main">
        <div class="days">
            <div class="day">Sun</div>
            <div class="day">Mon</div>
            <div class="day">Tue</div>
            <div class="day">Wed</div>
            <div class="day">Thu</div>
            <div class="day">Fri</div>
            <div class="day">Sat</div>
        </div>
        <div class="dates"></div>
    </div>

    <!-- 예약 창 -->
    <div class="resv-wrapper">
        <div class="resv-bg">
            <button class="resv-close">X</button>
            <div class="resv_info">
                <div class="resv_ym">
                    <span class="resv-year">2021</span>-
                    <span class="resv-month">05</span>-
                    <span class="resv-day">11</span>
                </div>
                <div class="resv-remain">
                    <span> </span>
                </div>
                <h3>
                    Name
                </h3>
                <div class="resv-list">

                </div>
                <h3>
                    Program
                </h3>
                <div class="resv-event">

                </div>
            </div>
            <form class="resv_set" method="post">

                <input class="resv_set time" type="time" name="time" id="">
                <div>
                <input class="resv_title" type="text" placeholder="title" name="resv_title">
                </div>
                <div>
                <input class="resv_body" type="text" placeholder="body" name="resv_body">
                </div>
                <input class="resv_btn purchase" type="submit" value="submit">
            </form>
        </div>
    </div>

</div>
<script src="{% static 'js_calendar/calendar.js' %}"></script>
<script src="{% static 'js_calendar/reserve.js' %}"></script>