{% load static %}

<html>
<head>
    <title>
        Login Form Design
    </title>
    <link rel="stylesheet" href="{% static 'css/users/signIn.css' %}">
</head>

<body>
  <div class="logo"></div>
<div class="sign-in">

     <h1> Sign In </h1>
    <form action="" method="post">
        <p> Username: </p>
<input name="username" type="text" placeholder="Enter Username">
        <p> Password: </p>
<input name="password" type="password" placeholder="Enter Password" class="pass">
        <p> </p>
        <input type="submit" value="Sign In!" class="submit">
</form>

    <p> Do you not have an account? <a href="/sign-up/">Sign up</a></p>
</div>
</body>

</html>



{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

{% endif %}<br> 