<html>
  <head>
    <meta charset="UTF-8">
    <title>Smart Apply</title>
    {% load static %}
    <link href="{% static 'css/home/home.css' %}" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="topnav">
      
      <button onclick style="float: right">
        <a href="/log-out">
          Log out
        </a>
      </button>
      <div class="user" style="float: right">
        <a href="/user-profile">{{ user }}</a>
      </div>
      <button>
        <a href="/cal">
          Calendar
        </a>
      </button>
      <button onclick>
        <a href="/important-files">
          Important Files 
        </a>
      </button>
      <button onclick>
        <a href="/process-of-applications">
          Process of Applications
        </a>
      </button>
    </div>
    
    
  </body>
</html>