<html>
  <head>
    <meta charset="UTF-8">
    <title>Smart Apply</title>
    {% load static %}
    <link href="{% static 'css_index/index.css' %}" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div style="position: absolute; height: calc(0% + 68px); width: calc(100% + 0px); left: calc(0% + 0px); top: calc(0% + 0px); opacity: 1; transition: opacity 0.2s ease 0s, max-width 0.2s ease 0s, max-height 0.2s ease 0s; max-width: 100vw; max-height: 100vh; border-radius: var(--border-radius-4); box-shadow: none;">
      <header>
        <button onclick>
          <a href="/log-out">
            Log out
          </a>
        </button>
        <button>
          <a href="/user-profile">
            Profile
          </a>
        </button>
        <button>
          <a href="/cal">
            Calendar
          </a>
        </button>
      </header>
    </div>
    
  </body>
</html>